* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

ul {
    list-style: none;
}

.container {
    padding: 0px 60px;
}


/* === HEADER === */
header {
    position: fixed;
    width: 100%;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.header__right {
    display: flex;
    align-items: center;
    gap: 100px;
}
.header__btn {
    padding: 14px 18px;
    border: none;
    border-radius: 50px;
    background-color: rgba(157, 149, 255, 1);
    font-size: 20px;
}




/* === INTRO === */
.inrto__list {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 200px;
}
h1 {
    font-size: 120px;
    line-height: 132px;
    font-weight: 500;
    padding: 300px 0 100px 0;
    text-align: center;
    color: white;
}
.intro {
    /* background: url(./img/banner.jpg) no-repeat center center; */
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/* === PROJECT === */
.project {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: white;
    border-radius: 40px;
    top: -50px;
}
.project_top{ 
    padding-top: 80px;
}
.project_top p{
    font-size: 32px;
    color: rgba(157, 149, 255, 1);
    padding-bottom: 32px;
}
h2 {
    font-size: 72px;
    font-weight: 500;
    max-width: 987px;
}

.project_list {
    padding-top: 70px;
    padding-left: 1162px;
}
.project_list ul li {
    padding-bottom: 100px;
}
.project_list ul li img {
    padding-right: 30px;
}
.project_bottom {
    padding-top: 245px;
}
.project_list span {
    font-size: 32px;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box li {
    border: 1px solid rgb(240, 237, 237);
    border-radius: 50px;
    height: 430px;
    width: 580px;
}
.box li h2 {
    font-size: 150px;
    padding: 48px 0px 130px 48px;
    font-family: "Manrope";
    color: #2B2A2A;
}
.box li span {
    font-size: 32px;
    font-family: "Manrope";
    color: #2B2A2A;
    opacity: 0.5;
    padding-left: 48px;
    padding-bottom: 52px;
}


/* === DIRECTION === */






