* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

ul {
    list-style: none;
}

.container {
    padding: 0px 60px;
}


/* === HEADER === */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-bottom: 25px;
    z-index: 4;
}

.header.active {
    background-color: #333333;
    box-shadow: 0 0 10px hsla(0,0%,0%,0.8);   
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.header__right {
    display: flex;
    align-items: center;
    gap: 100px;
}
.header__btn {
    padding: 14px 18px;
    border: none;
    border-radius: 50px;
    background-color: rgba(157, 149, 255, 1);
    font-size: 20px;
}




/* === INTRO === */
.intro .container {
    background-color: none;
}
.inrto__list {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 200px;
}
h1 {
    font-size: 120px;
    line-height: 132px;
    font-weight: 500;
    padding: 300px 0 100px 0;
    text-align: center;
    color: white;
}
.intro {
    /* background: url(./img/banner.jpg) no-repeat center center; */
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/* === PROJECT === */
.project {
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 40px;
    top: -50px;
}
.project_top{ 
    padding-top: 80px;
}
.project_top p{
    font-size: 32px;
    color: rgba(157, 149, 255, 1);
    padding-bottom: 32px;
}
h2 {
    font-size: 72px;
    font-weight: 500;
    max-width: 987px;
}
.project_list {
    padding-top: 70px;
    padding-left: 1162px;
}
.project_list ul li {
    padding-bottom: 100px;
    font-size: 32px;
    position: relative;
    padding-left: 40px;
}

.project_list ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 48px;
    height: 48px;
    background: url('./img/list_star.png') no-repeat center center / contain;
}
.project_list ul li img {
    padding-right: 30px;
}
.project_bottom {
    padding-top: 245px;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box li {
    border: 1px solid rgb(240, 237, 237);
    border-radius: 50px;
    width: 580px;
    padding: 48px;
}
.box li h2 {
    font-size: 150px;
    font-weight: 500;
    line-height: 165px;
    margin-bottom: 130px;
    color: #2B2A2A;
}
.box li h4 {
    line-height: 37px;
    font-size: 32px;
    opacity: 0.5;
    font-weight: 500;
}


/* === DIRECTION === */
.direction .container {
    background-color: #333333;
}
 .direction_LR {
    padding-top: 180px;
    padding-bottom: 204px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
 }
.direction_left {
    font-size: 32px;
    color: white;
    width: 100%;
    max-width: 580px;
}
h3{ 
    font-size: 64px;
    color: white;
    padding-bottom: 90px;
}



/* === CASES === */
.container p {
    font-size: 32px;
    color: rgba(157, 149, 255, 1);
    padding-top: 80px;
    padding-bottom: 32px;
}
.for_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_cases {
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 19px 24px;
    background-color: #333333;
    margin: 80px 0px 0px 200px;
    border-radius: 40px;
}
.items {
    margin-top: 90px;
}



/* === CASES === */
.trust .container h2 {
    margin: 200px 0px 72px 0px;
}
.items_logo {
    display: flex;
    justify-content: space-between;
}
.items_logo li{
    border: 1px solid rgb(240, 237, 237);
    width: 100%;
    text-align: center;
    padding: 90px;
}
.items_logo li:nth-child(6) {
    font-size: 40px;
    font-weight: 600;
}



/* === TRUST === */
.team_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.teamForBtn .team_btn {
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 19px 24px;
    background-color: #333333;
    border-radius: 40px;
}
.events {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.events p {
    font-size: 18px;
    opacity: 0.5;
    color: #333333;
}
.events h4{
    font-size: 28px;
    font-weight: 600;
    max-width: 580px;
}


/* === CALLBACK === */
.callback_top {
    margin-top: 200px;

}
.callback_question {
    margin-top: 110px;
}
.callback_list {
    display: flex;
    gap: 450px;
    align-items: center;

}
.callback_list li {
    font-size: 24px;
}
.callback_input {
    margin-top: 42px;
    margin-bottom: 120px;
}
.input {
    text-align: center;
}
.input_items {
    display: flex;
    align-items: center;
    gap: 30px;
}
input {
    width: 580px;
    height: 90px;
    opacity: 0.5;
    font-size: 24px;
}




/* === FOOTER === */
footer {
    background-color: #333333;
    height: 120px;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(246,246,246);
    padding-top: 60px;
}
.footer_left {
    
    padding-left: 60px;
    font-size: 18px;
}
.footer_center_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    font-size: 18px;
}
.footer_right {
    padding-right: 60px;
}
.footer_right_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
    font-size: 22px;
    color: white;
}




